<div class="col-md-4"></div>
<!-- CJ: instead of a blank column to the left, you can do `col-md-4 col-md-offset-4` instead -->
<div class="col-md-4">
	<h1>Edit Painting Title</h1>
	<hr>
	<%= form_for @painting do |f| %>
	<div class="form-group">
		<%= f.text_field :title, placeholder: "Title", class: "form-control" %><br>
		<%= f.submit "Update Title", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
<!-- CJ: you don't need the blank one on the right either :) -->
<div class="col-md-4"></div>