<!-- Jumbotron Header -->
<header class="jumbotron banner">
	<h1>The PbN Gallery</h1>
	<p>View the amazing Paint By Numbers projects that our users have created.</p>
	<p>Click on each project to show more information about each piece. Or share it to social media.</p>
	<p><a class="btn btn-primary btn-large" ng-href="/create">Or create your own!</a>
	</p>
</header>

<hr>

<!-- App -->
<div class="row">
	<div class="col-lg-6 col-md-offset-3">
		<h3>About this app</h3>
		<p>PbN is a digital paint by number app where users can upload their favorite image, have it converted to a convenient paint by numbers outline, and apply paint to each area. Users are able to utilize a handy key so that they know which area holds which color. Once images are created, users can upload their masterpiece to a global gallery or share their digital artpiece via social media.</p>
	</div>
</div>

<!-- Author -->
<div class="row">
	<div class="col-lg-6 col-md-offset-3">
		<h3>About this developer</h3>
		<p>PbN is a digital paint by number app where users can upload their favorite image, have it converted to a convenient paint by numbers outline, and apply paint to each area. Users are able to utilize a handy key so that they know which area holds which color. Once images are created, users can upload their masterpiece to a global gallery or share their digital artpiece via social media.</p>
	</div>
</div>