<!-- Jumbotron Header -->
	<header class="jumbotron banner">
		<h1>The PbN Gallery</h1>
		<p>View the amazing Paint By Numbers projects that our users have created.</p>
		<p>Click on each project to show more information about each piece. Or share it to social media.</p>
		<p><a class="btn btn-primary btn-large" ng-href="/create">Or create your own!</a>
		</p>
	</header>

<div class="container-fluid">
	<hr>

	<!-- Title -->
	<div class="row">
		<div class="col-lg-12">
			<h3>Latest Paintings</h3>
		</div>
	</div>
	<!-- /.row -->

	<!-- Page Features -->
	<div class="row text-center">

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
				<img src="http://placehold.it/800x500" alt="">
				<div class="caption">
					<h3>A snowy landscape</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>
						<a href="#" class="btn btn-primary">Share</a> <a href="#" class="btn btn-default">More Info</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
				<img src="http://placehold.it/800x500" alt="">
				<div class="caption">
					<h3>City Scene</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>
						<a href="#" class="btn btn-primary">Share</a> <a href="#" class="btn btn-default">More Info</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
				<img src="http://placehold.it/800x500" alt="">
				<div class="caption">
					<h3>Simple Portrait</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>
						<a href="#" class="btn btn-primary">Share</a> <a href="#" class="btn btn-default">More Info</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
				<img src="http://placehold.it/800x500" alt="">
				<div class="caption">
					<h3>Flowers in Vase</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>
						<a href="#" class="btn btn-primary">Share</a> <a href="#" class="btn btn-default">More Info</a>
					</p>
				</div>
			</div>
		</div>

	</div>
	<!-- /.row -->
</div>
