// Place all the styles related to the paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas {
	border-style: solid;
	width: 500px;
	height: 500px;
}

.canvas-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.swatch {
	width: 60px;
	height: 40px;
	border-style: solid;
	display: inline-block;
}
.post {
	margin-top: 100px;
}