// Place all the styles related to the paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas {
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	box-shadow: 2px 2px 1px #707070;
	border-radius: 2px;
	margin-top: 20px;
	width: 500px;
	height: 500px;
}

.canvas-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.swatch {
	width: 50px;
	height: 30px;
	border-style: solid;
	display: inline-block;
	list-style-type: none;
}
.list-group-item:last-child {
	margin-bottom: 5px;
}
.post {
	margin-top: 100px;
}
.create {
	margin-top: 75px;
}
.tools {
	border-style: inset;
	background-color: #F5F8FA;
	margin-left: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.key {
	border-style: inset;
	background-color: #F5F8FA;
	padding-bottom: 20px;
}
